@charset 'UTF-8';
/*!
Urban Plantier promo site 2014
*/
/*//////////////////////////////

    Custom CSS directives

//////////////////////////////*/
body,
html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
