@charset "UTF-8";


//``````````````````````````````
//  Custom vars
//

@reflex: .15s;
@ease: ease-in-out;

@facebookBlue:      rgb(59, 89, 152);
@twitterBlue:       rgb(64, 153, 255);
@linkedInBlue:      rgb(0, 123, 182);
@googlePlusOrange:  rgb(221, 75, 57);



//``````````````````````````````
//  Util. mixins
//

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.subpixel-antialiased {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: none;
}




